############
#Hunter
############
/Hunter/.vs
/Hunter/Hunter/Properties
/Hunter/Hunter/bin/Debug

############
#TexasHoldem
############
/TexasHoldem/Log

############
#Server
############
/Server/*.iml
/Server/.idea/*
/Server/*/target/*
/Server/*/logs/*
/Server/*/bin/*
/Server/*/*.iml
/Server/run_my.cmd



############
#Visual Studio / MonoDevelop generated
############
*.class
.svn
*.snap
.metadata/
.tern-port
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

############
#OS generated
############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


/Client/Assets/IGSoft_Tools/sceneFXMaker.unity/Client/Assets/Plugins/Android.meta
/Client/Assets/Plugins/Android.meta
