############
#Client
############
/Client/Assets/XLua/Gen/*
/Client/Assets/XLua/Gen.meta
/Client/Assets/UnityVS/*
/Client/Assets/UnityVS.meta
/Client/Assets/StreamingAssets/*
/Client/Assets/StreamingAssets.meta
/Client/Assets/Resources/Lua
/Client/ABResource/*
/Client/Library/*
/Client/Temp/*
/Client/.vs/*
/Client/*.sln
/Client/*.csproj
/Client/__kellylog.txt
/Client/Commands.log.xml
/Client/Assets/AssetBundles
/Client/Assets/AssetBundles.meta
/Client/Assets/Plugins/Android/*
/Client/Assets/Settings/Cache.txt
/Client/Assets/Settings/Cache.txt.meta
/Client/Assets/Resources/Lua.meta
/Client/BattleTestFolder/BattleTestEditorData.txt

############
#Server
############
/Server/*.iml
/Server/.idea/*
/Server/*/target/*
/Server/*/logs/*
/Server/*/bin/*
/Server/rconf/enduring
/Server/*/*.iml
/Server/zookeeper/data
/Server/run_my.cmd
/Server/.m2

############
#Other
############
/BuildScripts/version.txt
/BuildScripts/tail.pyc

############
#package
############
/apks/*
/apks_dev/*
/apps/*
/apps_dev/*


############
#Visual Studio / MonoDevelop generated
############
*.class
.svn
*.snap
.metadata/
.tern-port
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

############
#OS generated
############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


/Client/Assets/IGSoft_Tools/sceneFXMaker.unity/Client/Assets/Plugins/Android.meta
/Client/Assets/Plugins/Android.meta
